/* Home.css */

.home-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1{
  color: #d0d0d0;
}

.preloader-container {
  text-align: center;
}

.preloader {
  border: 4px solid #d0d0d0;
  border-top: 4px solid #323232;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error-message {
  color: #e74c3c;
  text-align: center;
}

.post-list {
  list-style: none;
  padding: 0;
}

.post-item {
  margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: #1d1d1d;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .post-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
.userName {
  color: #c1c1c1; /* Text color white for better visibility on blue background */
  margin-bottom: 8px;
}

.post-title,
.post-context {
  margin: 0;
  color: #b4b4b4; /* Lighter text color */
  font-size: 18px;
}

button {
  background-color: #5b5b5b; /* Use the same color as the Navbar */
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out;
  margin-top: 10px;
}

button:hover {
  background-color: #1f618d; /* Darker hover color */
}
.save-button{
  text-align: center;
}