/* Navbar.css */

.navbar {
  background-color: #e5d9f2; /* Change this to your desired background color */
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo img {
  width: 100px; /* Adjust the width as needed */
  height: auto;
}

.nav-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px;
}

.nav-links {
  text-decoration: none;
  color: #7371fc; /* Change this to your desired text color */
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.nav-links:hover {
  color: #a594f9; /* Change this to your desired hover color */
}

.nav-icons {
  font-size: 1.5rem;
  color: #a594f9; /* Change this to your desired icon color */
  cursor: pointer;
  margin-right: 50px;
  transition: 0.3s ease;
}

.nav-icons:hover {
  font-size: 1.7rem;
  color: #7371FC; /* Change this to your desired icon hover color */
}
