/* Navbar.css */

.navbar {
  background-color: #1d1d1d;
  color: #fff;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  text-decoration: none;
  color: #0c0c0c;
}

.logo {
  width: 100px;
  height: auto;
  filter: drop-shadow(0px 0px 50px #fbffe5);
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-links {
  text-decoration: none;
  color: #717171;
  font-size: 1.2em;
  filter: drop-shadow(0px 0px 50px #717171);
  transition: color 0.3s ease-in-out;
}

.nav-links:hover {
  color: #ecf0f1;
}

.nav-icons {
  font-size: 1.5em;
  margin-left: 8px; /* Added margin to space the icon from the text */
}

/* Authenticated and Unauthenticated Styles */
.authenticated {
  border-radius: 5px;
  border: 5px solid #27ae60;
}

.authenticated .nav-links:hover {
  color: #2ecc71;
  filter: drop-shadow(0px 0px 25px #2ecc71);
}

.unauthenticated {
  border-radius: 5px;
  border: 5px solid #c0392b;
}

.unauthenticated .nav-links:hover {
  color: #c0392b;
  filter: drop-shadow(0px 0px 25px #c0392b);
}
